.jumbotron {
    /* background-color: #53A65E !important; */
    background-image: url(../assets/forest-under-clouds-1287075.jpg);
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.jumbo-title {
    padding: 15% 0;
    /* color: #b5d359; 181,211,89 */
}

.icon-recycle {
    width: 75%;
    height: 75%;
}

.navbar {
    min-height: 70px;
}

.bg-navbar {
    /* background-color: #53A65E !important; */
    transition: 500ms ease;
    background: transparent;
}

/* .bg-navbar.scrolled{
    background-color: #53A65E !important;
} */

.bg-footer {
    background-color: #4E6B35 !important;
}

.fb-ic,
.tw-ic,
.ig-ic,
.wa-ic {
    color: white;
}

.programs {
    box-shadow: 0 0 5px 0 rgba(181, 211, 89, .2);
}

.programs .program-title {
    padding: 40px 40px 10px;
}

.programs .program-title i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #4E6B35;
}

.programs .program-title .title {
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.8em;
}

.programs .program-description {
    padding: 10px 40px 40px;
    text-align: justify;
}

.programs .program-description .description {
    margin-bottom: 22px;
}

/* Style for Card Flip */
.card-flip > div{
    backface-visibility: hidden;
    transition: transform 0.6s;
    transition-timing-function: linear;
    transform-style: preserve-3d;
    min-width: 350px;
    min-height: 471px;
    margin: 0;
    display: flex;
}

.bg-1{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../assets/autumn-branches-fall-forest-235798.jpg) no-repeat;
    background-size: cover;
}

.bg-2{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../assets/forest-trees-fog-foggy-5106.jpg) no-repeat;
    background-size: cover;
}

.bg-3{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../assets/forest-under-clouds-1287075.jpg) no-repeat;
    background-size: cover;
}

.card-front{
    transform: rotateY(0deg);
}

.card-text{
    text-align: justify;
}

.img-front{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.card-title{
    vertical-align: bottom;
}

.bg-opacity{
    background: rgba(0, 0, 0, 0.301) no-repeat center center;
}

.card-back{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front{
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back{
    transform: rotateY(0deg);
}

/* id sections */
#sticky-footer {
    flex-shrink: none;
}